<div class="card-columns">
    <!-- <% for(var i=0; i<bikes.length; i++) {%>
  <div class="card" style="width: 18rem;">

      <img class="card-img-top" src= " +' +++'"<%= bikes[i].title %> alt="Card image cap">
     <li><%= bikes[i].title %></li>

  </div>
    <% } %> -->
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/bmc-teammachine-alr01-105-2016-road-bike-red-EV233467-3000-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">​Alchemy Eros</h5>
        <p class="card-text">Titanium is a great material for a bike frame: It's beautiful, tough, long-lasting, and has an amazing feel. The Alchemy Eros is a ti bike that's built in the company’s facilities near Denver, Colorado, and offered in stock (that is, five stock sizes and 15 stock colors) or custom configurations.</p>
        <a href="/checkout" class="btn btn-primary">Rent me</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/cannondale-synapse-carbon-ultegra-3-disc-2016-road-bike-black-EV239405-9400-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Basso Astra Disc</h5>
          <p class="card-text">The Astra fits in the middle of Basso’s line, but the monocoque, full carbon fiber frame (i.e., no extra metal reinforcements) is still made in Italy like its more expensive siblings.</p>
          <a href="/checkout" class="btn btn-primary">Rent me</a>
        </div>
      </div>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/download (3).jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">BMC Roadmachine 03 105</h5>
        <p class="card-text">It might be the best-value model in BMC’s Roadmachine line: The 03 105 is built for the same purpose as the $100 Roadmachine 01 Dura Ace Di2—fun, fast, and far riding, on pavement and off.</p>
        <a href="/checkout" class="btn btn-primary">Rent me</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/download12121.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cannondale SuperSix Evo Disc</h5>
          <p class="card-text">This model is the least expensive one in Cannondale's line that has a carbon frame and disc brakes.</p>
          <a href="/checkout" class="btn btn-primary">Rent me</a>
        </div>
      </div>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/images (2).jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">​Canyon Ultimate WMN CF SLX 9.0</h5>
        <p class="card-text">The outline of a road bike is in the midst of a major revision, with disc brakes, thru axles, wide tires, electronic shifting and all sorts of other new features upsetting the classic paradigm. But there are still plenty of traditional race bikes, like this Canyon Women’s Ultimate.</p>
        <a href="/checkout" class="btn btn-primary">Rent me</a>
      </div>
  </div>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/images (3).jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Colnago C-RS Ultegra</h5>
        <p class="card-text">The C-RS is the entry-level carbon fiber frame in Colnago’s race series. Though it’s not a C60 (nothing else is), it shares geometry with Colnago’s top-of-the-line bike.</p>
        <a href="/checkout" class="btn btn-primary">Rent me</a>
      </div>
    </div>
</div>
