<div class="card-columns">
    <div class="card" style="width: 18rem;">

      <img class="card-img-top" src="images/bmc-teammachine-alr01-105-2016-road-bike-red-EV233467-3000-1.jpg" alt="Card image cap">
      <div class="card-body">

        <p class="card-text">Titanium is a great material for a bike frame: It's beautiful, tough, long-lasting, and has an amazing feel. The Alchemy Eros is a ti bike that's built in the company’s facilities near Denver, Colorado, and offered in stock (that is, five stock sizes and 15 stock colors) or custom configurations.</p>
        <a href="/secret/1" class="btn btn-primary">Rent me</a>
      </div>

    </div>

</div>
