<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Bike Rental</title>

	<!--build:css css/combined.css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<!-- endbuild -->
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
				<ul class="nav ">
					<li class="nav-item">
					  <a class="nav-link active" href="index.html">Bikes</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">About us</a>
					</li>
          <li class="nav-item">
            <a class="nav-link" href="/rating">Rate Bike</a>
          </li>
					<li class="nav-item">
					  <a class="nav-link"  href="/analytics">Analytics</a>
					</li>
					<li>
						<a id="logout" href="/logout" style="width:auto;">Logout</a>
					</li>
				  </ul>
			</nav>

			<div class="card-columns">
			    <div class="card" style="width: 18rem;">
						<% for (var key in Bike) { %>

			      <img class="card-img-top"  src="images/bmc-teammachine-alr01-105-2016-road-bike-red-EV233467-3000-1.jpg"  alt="Card image cap">
			      <div class="card- body">
  						<h3><%= Bike[key].name %></h3>
							<h3><%= Bike[key]._id %></h3>
			        <p class="card-text">Titanium is a great material for a bike frame: It's beautiful, tough, long-lasting, and has an amazing feel. The Alchemy Eros is a ti bike that's built in the company’s facilities near Denver, Colorado, and offered in stock (that is, five stock sizes and 15 stock colors) or custom configurations.</p>
			        <a href="/secret/<%= Bike[key]._id %>" class="btn btn-primary" name="test">Rent me</a>
						  <a href="/secret/rate/<%= Bike[key]._id %>" class="btn btn-primary" name="test">RATE  ME</a>
			      </div>
					<% } %>
			    </div>

			</div>


			<!-- <div class="card" style="width: 18rem;">
					<img class="card-img-top" src="images/cannondale-synapse-carbon-ultegra-3-disc-2016-road-bike-black-EV239405-9400-1.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Basso Astra Disc</h5>
						<p class="card-text">The Astra fits in the middle of Basso’s line, but the monocoque, full carbon fiber frame (i.e., no extra metal reinforcements) is still made in Italy like its more expensive siblings.</p>
						<a href="/secret/2" class="btn btn-primary">Rent me</a>
					</div>
				</div> -->

			  <!-- <div class="jumbotron jumbotron-fluid jumbo1">
					<div class="container">
					  <h1 class="display-4 jumbo-hedline">Rent a Bike</h1>
					  <p class="lead jumbo-paragraf">Our City Bike are designed for exploring the city and the bikes are perfect for enjoying an everyday ride.</p>
					</div>
				</div>
			  <div class="container">


			</div> -->
		</div>


	<!--build:js js/combined.js -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/main.js"></script> -->
	<!-- endbuild -->
</body>
</html>
