//Halant
@font-face {
  font-family: 'Halant';
  src: url('../fonts/halant/Halant-Bold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Halant';
  src: url('../fonts/halant/Halant-Regular.ttf')  format('truetype');
  font-weight: normal;
}


// Raleway
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Light.ttf')  format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Medium.ttf')  format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway/Raleway-Black.ttf')  format('truetype');
  font-weight: 900;
}
