$max-page-width:              1440px;
$padding-default:             30px;


$breakpoint-large-desktop:    1200px;
$breakpoint-small-desktop:    992px;
$breakpoint-tablet:           1024px;
$breakpoint-small-tablet:     600px;
$breakpoint-large-mobile:     480px;
$breakpoint-mobile:           320px;


$font-family-sans-serif:    'Raleway', sans-serif;
$font-family-secondary:     'Halant', sans-serif;
$font-family-body-text:     $font-family-secondary;


$color-black:                 #000000;
$color-white:                 #ffffff;
$color-grey:                  #949494;

$color-link:                  #EC885A;
$color-hdln:                  #00467F;
$color-text:                  #272E33;
$color-border:                #dddddd;
$color-box-shadow:            rgba(0, 0, 0, 0.16);
